.title{
    font-size: 48px;
    text-align: center;
}

.news_title{
    font-size: 24px;
    text-align: center;
}
#username{
    width: 60%;
    background-color: greenyellow;
}

.news_text{
    font-size: 24px;
    text-align: center;
}
#text{
    width: 60%;
    background-color: lightgreen;
}

.news_good{
    font-size: 24px;
    text-align: center;
}
#good_count{
    width: 60%;
    background-color: lightgreen;
}

#send{
    width: 20%;
    height: 5%;
    margin-left: 40%;
    color:black;
    background-color: chartreuse;
}


#output{
    position: absolute;
    margin-top: 50px;
    margin-left: 4%;
    width: 45%;
    border-radius: 20px;
}

#change{
    position: absolute;
    margin-top: 50px;
    margin-left: 52%;
    margin-right: 4%;
    width: 45%;
    border-radius: 20px;
}



tr{
    display: flex;
    flex-direction: column;

}

th{
    font-size: 20px;
    text-align: center;
    border-top: thick double gray;
    border-left: thick double gray;
    border-right: thick double gray;
    margin-bottom: -20px;
}

td{
    font-size: 16px;
    text-align: center;
    padding-top: 40px;
    border-left: thick double gray;
    border-right: thick double gray;
    padding-bottom: 10px;

}


td button{
    margin-left: 25%;
    margin-right: 25%;
}

#disp_count{
    text-align: center;
}